<h1>
  {{t "This page only contains text for tests"}}
</h1>

<p>
  {{t
    "Multi-line translations
    work!"
  }}
</p>

<p>
  {{t "Translations with
          <strong>tags</strong> and weird indentation
      works"
  }}
</p>

{{t "en"}}
{{t "en "}}